div {
    width: 100%;
    height: 300px;
}
#tarolo3 {
    display: flex;
    flex-direction: row-reverse;
}
#zold3 {
    background-color: green;
    flex: 1;
}
#sarga3 {
    background-color: yellow;
    flex: 2;
}
#lila3 {
    background-color: purple;
    flex: 1;
}