div {
    width: 100%;
    height: 300px;
}

div:first-of-type {
    display: flex;
    flex-direction: row-reverse;
}

#zold {
    background-color: green;
    flex: 1;
}

#sarga {
    background-color: yellow;
    flex: 2;
}

#lila {
    background-color: purple;
    flex: 1;
}