div {
    width: 100%;
    height: 300px;
}
#tarolo2 {
    display: flex;
}
#zold2 {
    background-color: green;
    flex: 1;
}
#sarga2 {
    background-color: yellow;
    flex: 2;
}
#lila2 {
    background-color: purple;
    flex: 1;
}